<!--SERVICES START-->
<section class="services block">
	<div class="container">
		<h2 class="title services__title">
			OUR FEES AND SERVICES
		</h2>
		<div class="services__box">
			<div class="services__imgs">
				<div class="services__img-box services__img-box_1">
					<img src="./img/service-img1.jpg" alt="">
				</div>
				<div class="services__img-box services__img-box_2">
					<img src="./img/service-img2.jpg" alt="">
				</div>
				<div class="services__img-box services__img-box_3">
					<img src="./img/service-img3.jpg" alt="">
				</div>
			</div>
			<div class="services__content">
				<div class="services__item services__item_1">
					<h3 class="services__item-name">
						THE WALK-THROUGH
					</h3>
					<p class="services__text">
						We visit a home and make on-site design and budget<br> recommendations to improve the home.
					</p>
					<span class="services__price">
						$150/Sketch
					</span>
				</div>
				<div class="services__item">
					<h3 class="services__item-name">
						FLOOR & FURNITURE SKETCH
					</h3>
					<p class="services__text">
						After our walk-through, we can provide a 1/4” scale hand-drawn <br>floor and furniture sketch
						indicating the proposed changes.
					</p>
					<span class="services__price">
						$150/Sketch
					</span>
				</div>
				<div class="services__item">
					<h3 class="services__item-name">
						PERSPECTIVE SKETCH
					</h3>
					<p class="services__text">
						To further illustrate the proposed changes, we can create perspective<br> sketches.
					</p>
					<span class="services__price">
						$150/Sketch
					</span>
				</div>
				<div class="services__item">
					<h3 class="services__item-name">
						BUDGET
					</h3>
					<p class="services__text">
						We can develop a general line item budget for the changes you are<br> considering.
					</p>
				</div>
				<div class="services__item">
					<h3 class="services__item-name">
						FULL SERVICE ARCHITECTURE & INTERIOR DESIGN
					</h3>
					<p class="services__text">
						Courage & Co, owned by Amy Courage, is an architecturefirm<br> licensed in CT and NY providing full
						design services including<br> schematic and design development, construction documents, 3D<br>
						rendering, interior design, purchasing, fabrication, installation and<br> supervision.
					</p>
				</div>
				<div class="services__item">
					<h3 class="services__item-name">
						CONSTRUCTION AND PROJECT MANAGEMENT
					</h3>
					<p class="services__text">
						Kramer Construction, LLC owned by Paul Kramer, is a full service<br> construction company licensed
						in Fairfield and Westchester counties,<br> providing cost estimating, permitting, construction
						services, custom<br> cabinetry and owner representation.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--SERVICES END-->