<!--ABOUT START-->
<section class="about block">
	<div class="container">
		<h2 class="title about__title">
			A LITTLE BIT ABOUT US
		</h2>
		<div class="about__content">
			<div class="about__people about__people_1">
				<div class="about__img-wrap_1">
					<div class="about__img-box about__img-box_1">
						<img src="./img/about-img1.jpg" alt="" class="about__img">
					</div>
					<div class="about__img-box about__img-box_2">
						<img src="./img/about-img2.jpg" alt="" class="about__img">
					</div>
				</div>

				<div class="about__article about__article_1">
					<h3 class="about__name">
						Amy Courage
					</h3>
					<p class="about__text about__text_1">
						Courage & Co is a boutique architecture and interior design firm run by Amy L. Courage, AIA
						ASID,
						based in Riverside, CT. Amy’s career has spanned over 3 decades, founding the architecture firm
						of
						Lesser Fifield in 1982 and Lesser & Frisch, Architects in 1986, both in NYC, subsequently
						running
						her own offices in Charlottesville, Chicago and Connecticut.
					</p>
					<p class="about__text">
						She has designed some of the more significant renovation and restoration projects in New York,
						including the Puck Building, Alwyn Court and the Carlyle Hotel, but has returned to her greatest
						passion – residential architecture and interiors.
					</p>
					<p class="about__text">
						A signature home by Courage & Co expresses elegance, vitality & comfort, balancing style with a
						sensible regard for how people live and work in space. Rooted in classicism but with a light
						whimsical touch, Amy’s work always nods to tradition with a keen eye to the future.
					</p>
				</div>
			</div>
			<div class="about__people about__people_2">
				<div class="about__img-box about__img-box_3">
					<img src="./img/about-img3.jpg" alt="" class="about__img">
				</div>
				<div class="about__article about__article_2">

					<h3 class="about__name about__name_2">
						Paul Kramer
					</h3>
					<p class="about__text about__text_2">
						Paul started his company in 1976 as a carpenter In Croton-on-Hudson NY and by 1985 grew to
						employ
						carpenters, masons and earth workers to provide a complete in-house construction company working
						in
						Fairfield and Westchester Counties. His building experience includes major home remodels, new
						custom
						homes and spec homes.
					</p>
					<p class="about__text">
						With 44 years of broad, hands-on construction experience, Paul can provide a unique level of
						construction knowledge which translates to a sound financial cornerstone for those considering
						home
						remodeling.
					</p>
				</div>

			</div>
		</div>
	</div>
</section>
<!--ABOUT END-->