.about {
    background: url(../img/about-bg.jpg)no-repeat center center / cover;
    color: #dbdbdb;
    font-family: 'Futura-Medium', sans-serif;
    font-size: 19px;
    line-height: 1.2em;
    padding-bottom: 138px;
    padding-top: 60px;

    &__content {
        margin-top: 75px;
        display: flex;
        justify-content: space-between;
    }

    &__img-wrap {
        display: flex;
    }


    &__people {
        &_1 {
            display: flex;
        }

        &_2 {
            display: flex;
            flex-direction: column;
        }
    }

    &__text {
        letter-spacing: -0.02em;
        margin-top: 25px;

        &_1 {
            margin-top: 46px;
        }

        &_2 {
            margin-top: 46px;
        }
    }

    &__name {
        font-size: 25px;

        &_2 {
            text-align: right;
        }
    }

    &__article {
        text-align: justify;

        &_1 {
            width: 255px;
            margin: 0 30px;
        }
    }

    &__img-box {
        &_1 {
            margin: 0px 0 57px 0;
            width: 255px;
        }

        &_2 {
            width: 255px;
        }


        &_3 {
            margin-top: 37px;
            order: 1;
        }
    }

}

@media (max-width: 1189px) {
    .about {
        &__content {
            margin-top: 50px;
        }

        &__img-box {

            &_1 {
                margin-bottom: 30px;
            }

            &_1,
            &_2 {
                width: 240px;
            }
        }

        &__text {
            margin-top: 15px;

            &_1,
            &_2 {
                margin-top: 30px;
            }
        }

        &__article {
            
            &_1 {
                width: 270px;
            }
        }
    }
}

@media (max-width: 1023px) {
    .about {

        &__content {
            flex-direction: column;
            margin-top: 30px;
        }

        &__article {
            &_1 {
                width: 100%;
                margin: 0;
                padding-right: 260px;
            }

            &_2 {
                padding-left: 340px;
            }
        }

        &__img-box {
            &_1 {
                float: left;
                margin: 0 20px 20px 0;
            }

            &_2 {
                float: right;
                margin: 0 0 0 20px;
                height: 100%;
            }

            &_3 {
                float: left;
                margin: 0 20px 0 0;
                width: 320px;
            }
        }

        &__people {
            &_1 {
                display: block;
            }

            &_2 {
                margin-top: 30px;
                display: block;
            }
        }

        &__text {
            
            &_1,
            &_2 {
                margin-top: 20px;
            }
        }

        &__name {
            text-align: left;
            font-size: 23px;
        }
    }
}

@media (max-width: 767px) {
    .about {
        font-size: 18px;

        &__img-box {
            &_1,
            &_2 {
                float: none;
                margin: 0;
                width: 255px;
            }

            &_1 {
                margin-bottom: 20px;
            }

            &_3 {
                float: right;
                margin: 0 0 0 20px;
            }
        }

        &__people {
            &_1 {
                display: flex;
                flex-direction: row;
            }
        }

        &__article {
            &_1 {
                padding-right: 0;
                padding-left: 20px;
            }

            &_2 {
                padding-left: 0;
            }
        }

        &__name {
            font-size: 20px;
        }
    }
}

@media (max-width: 639px) {
    .about {
        font-size: 16px;
        
        &__people {
            &_1,
            &_2 {
                flex-direction: column;
                align-items: center;
            }
        }

        &__img-box {
            width: 250px;
            margin: 0;

            img {
                width: 100%;
            }

            &_3 {
                float: none;
                margin: 0 auto;
            }

            &_1,
            &_2 {
                margin-bottom: 20px;
            }
        }

        &__name {
            font-size: 18px;
            text-align: center;
        }

        &__article {
            padding: 0;
        }
    }
}

@media (max-width: 479px) {}