<!--CONTACT START-->
<section class="contact block">
	<div class="container">
		<h2 class="title contact__title">
			CONTACT
		</h2>
		<p class="contact__content">
			Please let us know how we can help you. Our initial phone conversation will always be complimentary. You can
			call us, email us, fill out the form below or even drop in some images so we can get acquainted with your
			project.
		</p>
		<form action="#" method="post" class="contact__form">
			<label class="contact__label contact__label_name">
				<span class="contact__input-name">
					Your Name
				</span>
				<input type="text" class="contact__input">
			</label>
			<label class="contact__label contact__label_email">
				<span class="contact__input-name">
					Your Email
				</span>
				<input type="text" class="contact__input">
			</label>
			<label class="contact__label contact__label_address">
				<span class="contact__input-name">
					Project Address
				</span>
				<input type="text" class="contact__input">
			</label>
			<label class="contact__label contact__label_phone">
				<span class="contact__input-name">
					Your Phone Number
				</span>
				<input type="text" class="contact__input">
			</label>
			<textarea placeholder="Message" class="contact__textarea"></textarea>
			<label class="contact__label contact__label_upload">
				<span class="contact__upload">
					Upload
				</span>
				<span class="contact__file-upload">
					File Upload
				</span>
				<input type="file" value="Upload" class="contact__input_file">
			</label>
			<button class="contact__btn">
				SUBMIT
			</button>
		</form>
		<div class="contact__connect-box">
			<div class="contact__left">
				<p>
					Amy L. Courage
				</p>
				<a href="mailto:amy@ImagineHomesNow.com">
					amy@ImagineHomesNow.com
				</a>
				<p>
					434.806.3334
				</p>
				<a href="https://www.ImagineHomesNow.com">
					www.ImagineHomesNow.com
				</a>
			</div>
			<div class="contact__right">
				<p>
					Paul Kramer
				</p>
				<a href="mailto:paul@ImagineHomesNow.com">
					paul@ImagineHomesNow.com
				</a>
				<p>
					203.451.4065
				</p>
				<a href="https://www.ImagineHomesNow.com">
					www.ImagineHomesNow.com
				</a>
				<a href="www.HomesByKramer.com">
					www.HomesByKramer.com
				</a>
			</div>
		</div>
	</div>
</section>
<!--CONTACT END-->