.contact {
    padding-top: 27px;

    &__title {
        color: #151515;
        font-family: 'TrebuchetMS', sans-serif;
    }

    &__input-name {
        font-size: 20px;
        width: 100px;
    }

    &__content {
        font-size: 24px;
        width: 730px;
        margin: 33px auto 0;
    }

    &__form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__label {
        width: 540px;
    }

    &__textarea {
        width: 540px;
    }

    &__input {
        display: block;
        border: none;
        border-bottom: 1px solid #202020;
    }

    &__input-name {
        font-family: 'Futura-Medium', sans-serif;
        color: #5c5c5c;
    }

    &__upload {
        width: 159px;
        background: #ff0000;
        color: #f8f7f7;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        cursor: pointer;
    }

    &__btn {
        width: 100%;
        background: #000;
        color: #f8f7f7;
        font-size: 21px;
        cursor: pointer;
        font-family: 'Cabin', sans-serif;
        font-weight: 400;
        height: 51px;
    }
}

@media (max-width: 1189px) {}

@media (max-width: 1023px) {}

@media (max-width: 767px) {}

@media (max-width: 639px) {}

@media (max-width: 479px) {}