<!--HEADER START-->
<header class="header">
	<div class="container">
		<h1 class=" title header__title">
			IMAGINE HOMES
		</h1>
		<div class="header__content">
			<div class="header__wrap">
				<p class="header__text">
					WE ARE AN ARCHITECT + CONTRACTOR TEAM OFFERING PRE- AND POST-SALE CONSULTING SERVICES FOR AGENTS AND HOMEOWNERS, TO HELP THEM MAKE DESIGN DECISIONS SIMPLY, AFFORDABLY AND CONFIDENTLY.
				</p>
				<p class="header__push">
					AMY & PAUL
				</p>
				<div class="header__address">
					<a href="mailto:amy@imaginehomesnow.com" class="header__link">
						amy@imaginehomesnow.com
					</a>
					<a href="mailto:paul@imaginehomesnow.com" class="header__link">
						paul@imaginehomesnow.com
					</a>
				</div>
			</div>
			<div class="header__watchword">
				let us help you imagine the possibilities
			</div>
		</div>
	</div>
</header>
<!--HEADER END-->