<!--HEADER START-->
<header class="header">
	<div class="container">
		<h1 class=" title header__title">
			IMAGINE HOMES
		</h1>
		<div class="header__content">
			<div class="header__wrap">
				<p class="header__text">
					WE ARE AN ARCHITECT + CONTRACTOR TEAM OFFERING PRE- AND POST-SALE CONSULTING SERVICES FOR AGENTS AND HOMEOWNERS, TO HELP THEM MAKE DESIGN DECISIONS SIMPLY, AFFORDABLY AND CONFIDENTLY.
					<span class="heder__push">AMY & PAUL</span>
				</p>
				<div class="header__address">
					amy@imaginehomesnow.com paul@imaginehomesnow.com
				</div>
			</div>
			<div class="header__watchword">
				let us help you imagine the possibilities
			</div>
		</div>
	</div>
</header>
<!--HEADER END-->