<!--GALLERY START-->
<section class="gallery block">
	<div class="container">
		<h2 class="title gallery__title">
			WHAT WE DO AND HOW CAN WE HELP
		</h2>
		<div class="gallery__wrap">
			<div class="gallery__item gallery__text_down">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
			</div>
			<div class="gallery__item gallery__text_up">
				<p class="gallery__content">
					Amy (architect) + Paul (contractor), over our many combined years in architecture & building, have often been asked by homeowners and real estate agents to improve a property’s salability by proposing design changes that will make a home better align with buyer expectations.
				</p>
				<p class="gallery__content">
					 We have joined forces – architecture, construction and interior design – to provide pre- and post-sale creative, comprehensive and affordable solutions.
				</p>
			</div>
			<div class="gallery__item gallery__text_down">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
			</div>
		</div>
		<div class="gallery__photo photo">
			<div class="photo__item">
				<div class="photo__wrap">
					<div class="photo__img">
						<img src="../img/bathroom-before.jpg" alt="" class="">
					</div>
					<p class="photo__text">
						bathroom <span class="big">before</span>
					</p>
				</div>
				<div class="photo__wrap">
					<div class="photo__img">
						<img src="../img/bathroom-after.jpg" alt="" class="">
					</div>
					<p class="photo__text">
						bathroom <span class="big">after</span>
					</p>
				</div>
			</div>
			<div class="photo__item">
				<div class="photo__wrap">
					<div class="photo__img">
						<img src="../img/kitchen-before.jpg" alt="" class="">
					</div>
					<p class="photo__text">
						kitchen <span class="big">before</span>
					</p>
				</div>
				<div class="photo__wrap">
					<div class="photo__img">
						<img src="../img/kitchen-after.jpg" alt="" class="">
					</div>
					<p class="photo__text">
						kitchen <span class="big">after</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--GALLERY END-->