extends ./views/layouts/default-head

block content
    include ./components/header/header.html
    include ./components/gallery/gallery.html
    include ./components/help/help.html
    include ./components/about/about.html
    include ./components/services/services.html
    include ./components/contact/contact.html