doctype html
html(lang="ru")
    head
        meta(http-equiv="Content-type" charset="utf-8")
        title
        meta(name='viewport', content='initial-scale=1, maximum-scale=1')
        link(rel="stylesheet" type="text/css" href="./css/main.css")
        link(href="https://fonts.googleapis.com/css?family=Cabin:400,400i,600,600i&display=swap&subset=latin-ext,vietnamese" rel="stylesheet")
    body
        block content

        block scripts
            script(src='./js/main.js')